tmp/
*.tmp
*.log
*.sw?
dist-newstyle/
build
pages/family-tree.tsv
pages/family-tree.dot
pages/family-tree.svg
pages/family-tree.png
pages/images/
design/
*.socket
*.skey
*.vkey
*.address
*.gpg
*.path
*.secret
*.key
*.json
*.mantis
