
#instructions img {
  max-width   : 95%
; max-height  : 95vh
; display     : block
; margin-left : auto
; margin-right: auto
}


#navigation span {
  color           :
; background-color: #e85d91ff
; padding-top     : 0.3em
; padding-bottom  : 0.3em
; padding-left    : 1em
; padding-right   : 1em
}

#navigation span a {
  color          : #002b73ff
; text-decoration: none
}


#examples-table td:nth-of-type(1) {
  width: 10%
}

#examples-table td {
  width: 30%
}

#examples-table img {
  width           : 80%
; display         : block
; margin-left     : auto
; margin-right    : auto
; vertical-align  : middle
; background-color: white
}

table {
  border-style   : solid
; border-width   : thin
; border-collapse: collapse
}

th, td {
  text-align    : left
; vertical-align: top
; border-style  : solid
; border-width  : thin
; padding       : 4px
}



a {
  color          : #e85d91ff
; text-decoration: none
}

body {
  color           : white
; background-color: #0e0e34ff
; font-family     : Monserat, sans-serif
}

